body { 
    font-family: Arial; 
    background: #f4f4f4; 
    padding: 20px; 
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
}

.artist { 
    background: #fff; 
    border-radius: 10px; 
    padding: 15px; 
    text-align: center; 
}

.artist img { 
    width: 100%; 
    border-radius: 10px; 
    height: 150px;
}

.artist h3 {
    margin: 10px 0;
    color: #222;
}

button { 
    margin-top: 10px; 
    padding: 8px 15px; 
    cursor: pointer; 
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}