<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}} - Groupie Tracker</title>

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>

<header class="site-header">
    <h1>{{.Artist.Name}}</h1>
</header>
<main class="artist-details">

    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
    <h2>{{.Artist.Name}}</h2>

    <!-- Info -->
    <div class="info">
        <div class="info-item">
            Creation Date: <span>{{.Artist.CreationDate}}</span>
        </div>
        <div class="info-item">
            First Album: <span>{{.Artist.FirstAlbum}}</span>
        </div>
        <div class="info-item">
            Number of Members: <span>{{len .Artist.Members}}</span>
        </div>
    </div>

    <!-- Members -->
    <h3>Members</h3>
    <div class="members-list">
        {{range .Artist.Members}}
            <div class="member-item">{{.}}</div>
        {{end}}
    </div>

    <!-- Locations -->
    <h3>Locations</h3>
    <div class="locations">
        {{range .Locations}}
            <div class="location-item">{{.}}</div>
        {{end}}
    </div>

    <!-- Concert Dates -->
    <h3>Concert Dates</h3>
    <div class="dates">
        {{range .Dates}}
            <div class="date-item">{{.}}</div>
        {{end}}
    </div>

    <a href="javascript:history.go(-1)" class="back-link">←Go Back</a>
</main>


</body>
</html>
