<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie Tracker</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="site-header">
  <h1>Groupie Tracker</h1>
</header>

<main>
  <!-- FILTERS -->
  <section class="filters-container">
  <form action="/filter" method="get" class="filter-bar">

    <!-- Search -->
    <div class="filter-group search">
      <label>Location</label>
      <input
        type="text"
        name="searchLocation"
        placeholder="City or country..."
        value="{{.LocationSearch}}"
        list="suggestions"
      >

<datalist id="suggestions">
  {{range .Locations}}
  <option value="{{.}}">
 {{end}}
   {{range .Names}}
  <option value="{{.}}">
 {{end}}
</datalist>
    </div>

   

    <!-- Actions -->
    <div class="filter-actions">
      <button type="submit">Apply</button>
      <a href="/" class="reset-link">Reset</a>
    </div>

  </form>
</section>


  <!-- ARTISTS GRID -->
  <section class="grid">
    {{range .Artists}}
    <article class="artist">
      <img src="{{.Image}}" alt="{{.Name}}">
      <h3>{{.Name}}</h3>
      <form action="/artist/{{.ID}}" method="get">
        <button type="submit">View Details</button>
      </form>
    </article>
    {{end}}
  </section>
</main>

</body>
</html>
